$error-color: rgb(218, 0, 0);
$danger-color: rgb(168, 55, 55);
$border-color: rgb(189, 189, 189);
$border-clolr-light-green: #00dfc4;
$button-dark: rgb(43, 43, 43);
$button-light: #5abeb6;
$header-background-color: #16212c;
$main-background-color: #223243;
$light-text-color: #d3d3d3;

$header-height: 100px;