@use "../../variables.scss";

.inputBox {
  position: relative;
  width: 300px;
}

.inputBox select {
  padding: 12px 10px 12px 48px;
  border: none;
  width: 100%;
  background: $main-background-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: 300;
  border-radius: 25px;
  font-size: 1em;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
  transition: 0.5s;
  outline: none;
}